* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

.logo-img {
    height: 50px;
    width: auto;
}

header {
    padding: 35px 40px;
    background-color: #f8f7f3;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #d6d2d1;
    border-bottom: 1px solid #d6d2d1;
    padding: 8px 0;
}

.nav-list {
    display: inline-flex;
    gap: 25px;
    list-style: none;
    margin-right: -75px;
}

.nav-link {
    color: #000;
    font-size: large;
    font-weight: 500;
}

.slash:after {
    content: "/";
    color: #d6d2d1;
    margin-left: 22px;
}


.nav-canal:before {
    content: "⭐ ";
}

.nav-name {
    display: flex;
    align-items: center;
    gap: 10px;
}

time {
    color: #8a8a8a;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

main {
    background-color: #f8f7f3;
}

#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px;
    background-color: #f8f7f3;
}

.hero-left {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.hero-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    width: 100%;
    text-align: right;
    display: block;
}

.hero-welcome {
    position: relative;
    left: -50px;
    top: -70px;
}

h1 {
    font-size: 13rem;
    line-height: 0.7;
    letter-spacing: -3px;
    text-align: right;
    position: relative;
    top: -150px;
    left: -60px;
}

.socials {
    display: flex;
    position: relative;
    margin-left: -40px;
    top: -40px;
}

.social {
    width: 45px;
    height: 45px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: black;
    margin-left: -8px;
}

.line{
    display: flex;
    width: 500px;
    height: 1px;
    background-color: lightgray;
    position: relative;
    top: -13px;
    margin-left: 128px;

}

.social:first-child {
    margin-left: 0;
}

.stats {
    display: flex;
    gap: 100px;
    margin-top: 30px;
    margin-left: 55px
}

.stat {
    position: relative;
    left: -80px;
}

.stat h2 {
    font-size: 70px;
    font-weight: bold;
    font-style: italic;
    text-align: end;
    margin-right: -15px;
}

.stat p {
    font-size: 17px;
    line-height: 20px;
    margin-top: 10px;
    text-align: end;
    width: 120%;
    margin-left: -30px;
}

.plus {
    position: relative;
    font-size: 34px;
    margin-right: 5px;
    top: -28px;
}

.main-pic {
    position: relative;
    top: -65px;
    right: -20px;
    height: 750px;
    width: auto;
}

.kolecka-icon {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(772px, 630px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 10;
}

.kolecko {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    object-fit: cover;
    display: flex;

}

.glob {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(1380px, 172px);
    z-index: 11;
}

.about {
    background-color: black;
    min-height: 100vh;
    padding: 40px 0 0 0;
}

.about-text {
    text-align: center;
}

.about-title {
    color: #f8f7f3;
    font-size: 9rem;
    font-weight: 700;
    margin-top: -110px;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 1px;
}

.about-center {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    align-items: end;

}

.about-img {
    width: 800px;

}

.target {
    width: 100px;
}

.cross {
    width: 70px;
}

.about-left {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-right: 50px;
    gap: 160px;
    float: right;
    align-items: center;

}

.about-right {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-left: 50px;
    gap: 160px;
    float: left;
    align-items: center;

}



