* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

.logo-img {
    height: 50px;
    width: auto;
}

header {
    padding: 35px 40px;
    background-color: #f8f7f3;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #d6d2d1;
    border-bottom: 1px solid #d6d2d1;
    padding: 8px 0;
}

.nav-list {
    display: inline-flex;
    gap: 25px;
    list-style: none;
    margin-right: -75px;
}

.nav-link {
    color: #000;
    font-size: large;
    font-weight: 500;
}

.slash:after {
    content: "/";
    color: #d6d2d1;
    margin-left: 22px;
}


.nav-canal:before {
    content: "⭐ ";
}

.nav-name {
    display: flex;
    align-items: center;
    gap: 10px;
}

time {
    color: #8a8a8a;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

main{
    background-color: #f8f7f3;
}

.hero-text {
    text-align: end;
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

h1 {
    font-size: 13rem;
    line-height: 0.7;
    letter-spacing: -3px;
}


.socials {
    display: flex;
    margin-left: 50px;
    margin-top: 25px;
}

.social {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: black;
    margin-left: -8px;
}

.social:first-child {
    margin-left: 0;
}

.stats {
    display: flex;
    gap: 100px;
    margin-top: 30px;
    margin-left: 55px
}

.stat h2 {
    font-size: 65px;
    font-weight: bold;
    text-align: end;
}

.stat p {
    font-size: 15px;
    line-height: 20px;
    margin-top: 10px;
    text-align: end;
}







